@font-face {
    font-family: acherus;
    src: url('../fonts/acherus-lite.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: Barlow;
    src: url('../fonts/BarlowCondensed-SemiBold.ttf');
}
form{
    background-color: transparent;
}
p {
    padding:0;
    margin: 0;
}
.comment-label {
  padding: 0px 10px 0px 30px;
}
.comment-label label {
  font-family: OpenSans;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}
.comment-count {
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #666;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 30px;

}
.input-comment {
   border: 1px solid #888;
   color: #222;
   padding: 10px;
   border-radius: 5px;
   font-size: 14px;
   background-color: #fff;
   margin-left: 30px;
 }
.input-comment::placeholder{
  color: darkgray;
  font-size: 15px;
}
.input-comment:focus{

}
.btn-submit {
  border: 1px solid #ddd;
  background-color: #fb8c00;
  color: #f7f7ff;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 30px;
  float: left;
  margin-bottom: 30px;
  -webkit-box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.66);
  -moz-box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.66);
  box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.66);
  font-family: OpenSans;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}
.btn-submit:hover {

}
.btn-submit:focus{
  outline:none;
}

 ul {
     list-style-type: none;
 }
 .comment-ul {
     /*border-left: 1px dotted #ddd;*/
 }
 .box-comment{
     /*background-color: #ddd; */
     margin: 30px 10px 30px 10px;
     width: 95%;
     padding: 0;
     border-radius: 5px;
     border-bottom: 1px solid #ddd;
 }

 .box-comment:hover {
     background-color: #f9f9ff;
     cursor: pointer;
 }
 .box-comment:hover .reply-icon {
     background-color: #ddd;
 }
 .comments-section {
     margin-top: 30px;
     margin-left: 40px;
 }
 .comment-div-header {
     height: auto;
     /*border-bottom: 1px solid #222;*/
     padding: 8px 10px 5px 10px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
 .comment-div-header p {
     font-size: 18px;
     display:inline-block;
     color: #222;
     padding-left: 15px;
     position: absolute;
     padding-top: 5px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: 600;

 }
 .comment-div-body{
     height: auto;
     padding: 8px 10px 0px 10px;
     margin-bottom: 20px;
 }
 .comment-div-comment {
     padding: 0px 10px 20px 65px;
     font-weight: 400;
      color: #222;
      font-size: 15px;
      line-height: 1.6;
      font-family: OpenSans;
 }
 .comment-div-footer{
     height: auto;
     padding: 8px 10px 8px 10px;
     border-top: 1px solid #888;
     display: none;
 }
 .comment-div-footer i {
     cursor: pointer;
     color: #222;
 }
 .reply-icon {
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 12px;
     cursor: pointer;
     border-radius: 20px;
     padding: 8px 25px 8px 25px;
     margin-left: 60px;
     font-style: normal;
     text-transform: uppercase;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     letter-spacing: 1px;
     background: #eee;
     color: #172231;
     border-color: #f5f6fa;
 }
 .reply-icon:hover {
  -webkit-box-shadow: -1px 0px 13px -3px rgba(0,0,0,0.66);
  -moz-box-shadow: -1px 0px 13px -3px rgba(0,0,0,0.66);
  box-shadow: -1px 0px 13px -3px rgba(0,0,0,0.66);
 }
 .comment-user-icon {
     height: 50px;
     width: 50px;
     border-radius: 50%;
     -webkit-box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.66);
      -moz-box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.66);
      box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.66);
 }
 .comment-div-time{
     padding-left: 14px;
     font-size: 13px;
     display:inline-block;
     color: #666;
     position: absolute;
     padding-top: 30px;
     opacity: 0.8;
     font-family: sans-serif;
 }
 .comment-div-form {
     margin-left: 100px;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .comment-div-form-text {
     border-radius: 5px;
     width: 75%;
     margin: 0 auto;
     padding: 10px;
     border: 1px solid #888;
     background-color: #fff;
 }.comment-div-form-text:focus {
      outline:none !important;
 }
 .comment-div-form-submit {
      padding: 7px 20px 7px 20px;
      cursor: pointer;
      margin-top: 10px;
      display:block;
      font-family: OpenSans;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      background-color: #f57c00;
      color: #eee;
      -webkit-box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.66);
      -moz-box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.66);
      box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.66);
 }
 .comment-div-form-submit:focus {
   outline:none;
 }
