.article-img-cnt {
    width: 100%;
    height: 200px;
    animation: pulse 1.1s infinite ease-in-out;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
    -moz-animation: pulse 1.2s infinite ease-in-out;
}
.article-header-cnt {
    width:100%;
    height:12px;
    border-radius: 5px;
    animation: pulse 1.1s infinite ease-in-out;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
    -moz-animation: pulse 1.2s infinite ease-in-out;
    margin-bottom: 7px;
}
.tags-header-cnt{
    width: 22%;
    height: 17px;
    border-radius: 5px;
    animation: pulse 1.1s infinite ease-in-out;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
    -moz-animation: pulse 1.2s infinite ease-in-out;
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}
.tags-cnt {
    width: 15%;
    height: 17px;
    border-radius: 5px;
    animation: pulse 1.1s infinite ease-in-out;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
    -moz-animation: pulse 1.2s infinite ease-in-out;
    display: inline-block;
    margin-right: 8px;
}
.posted-by-cnt {
    width: 70%;
    height: 12px;
    border-radius: 5px;
    animation: pulse 1.1s infinite ease-in-out;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
    -moz-animation: pulse 1.2s infinite ease-in-out;
    margin-top: 30px;
}
.footer-icon-cnt {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    animation: pulse 1.1s infinite ease-in-out;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
    -moz-animation: pulse 1.2s infinite ease-in-out;
    margin-right: 12px;
}
@keyframes pulse {
    0%{
        background-color: rgba(165,165,165,.1);
    }
    50%{
        background-color: rgba(165,165,165,.4);
    }
    100%{
        background-color: rgba(165,165,165,.1);
    }
}
@-webkit-keyframes pulse {
    0%{
        background-color: rgba(165,165,165,.1);
    }
    50%{
        background-color: rgba(165,165,165,.3);
    }
    100%{
        background-color: rgba(165,165,165,.1);
    }
}
@-moz-keyframes pulse {
    0%{
        background-color: rgba(165,165,165,.1);
    }
    50%{
        background-color: rgba(165,165,165,.5);
    }
    100%{
        background-color: rgba(165,165,165,.1);
    }
}