*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&family=Merriweather&family=Montserrat+Subrayada&family=Noto+Sans+JP&family=Open+Sans:wght@300&family=Oswald&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
    font-family: acherus;
    src: url('../fonts/acherus-lite.ttf');
}
@font-face {
    font-family: Josefin;
    src: url('../fonts/JosefinSans-SemiBold.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Light.ttf');
}
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #444;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
}
nav {
    position: fixed !important;
    width: 100%;
    
}
.navbar-primary {
    
}
.navbar-secondary {
    position: fixed !important;
    width: 100%; 
}
.nav-custom {
}
.navbar {
    z-index: 80;
    padding: .2rem 2rem;
}
.btn-outline-login {
    border: 1px solid #222;
    color: #222;
    padding: 05px 35px 05px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-outline-login:hover {
    opacity: 0.7;
    border: 1px solid #222;
    color: #222;
    background-color: transparent;
}
.btn-outline-login:focus {
    opacity: 0.7;
    border: 1px solid #222 !important;
    color: #222 !important;
    background-color: white !important;
    outline: 1px solid #222 !important;
    border-radius: 3px;
}
.btn-outline-loginusr {
    border: 1px solid #222;
    color: #222;
    padding: 05px 15px 05px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-outline-loginusr:hover {
    opacity: 0.7;
    border: 1px solid #222;
    color: #222;
    background-color: transparent;
}
.btn-outline-loginusr:focus {
    opacity: 0.7;
    border: 1px solid #222 !important;
    color: #222 !important;
    background-color: white !important;
    outline: 1px solid #222 !important;
    border-radius: 3px;
}
.btn-outline-ext {
    border: 1px solid #222;
    color: #222;
    padding: 05px 15px 05px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-outline-ext a{
    color: #222;
}
.btn-outline-ext:hover {
    border: 1px solid #222;
    color: #222;
    background-color: transparent;
}
.btn-outline-ext:focus {
    opacity: 0.7;
    border: 1px solid #222 !important;
    color: #222 !important;
    background-color: white !important;
    outline: 1px solid #222 !important;
    border-radius: 3px;
}
.btn:focus {
    background-color:#000 !important;
    color: white;
}
.card {
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 150px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
}
.card:hover {
    border: 1px solid #777;
    border-radius: 3px;
    transition: ease-in;
    cursor: pointer;

}
.card-header {
    background-color: #fff;
    border: none;
    padding: 07px 10px 05px 40px;
    display: inline-block;
    border-radius: 4px;
}
.card-header img {
    width: 35px;
    height: 35px;
    display: inline-block;
}
.card-header h6
{   width: 150px;
    display: inline-block;
    position: absolute;
    font-size: 17px;
}
.card-header p {
    font-size: 13px;
    padding-left: 160px;
     position: absolute;
    color: darkgrey;
    font-weight: 300;
    display: inline-block;
}
.card-footer {
    background-color: #fff;
    border: none;
    padding: 0px 10px 0px 30px;
    border-radius: 4px;
}
.footer-icon{
    padding: 5px 10px 5px 5px;
}
.footer-icon1 {
    width:30px;
    display: inline-block;
    cursor: pointer
}
.footer-icon1:hover {
    background-color: transparent;
}
.like-count{
    display: inline-block;
    padding-bottom: -20px;
    position: absolute;
    padding-left: 5px;
    padding-top: 3px;
}
.footer-icon1 img:hover {

}

.footer-icon1 img {
    padding-top: 02px;
}
.card-container {
    margin-top: 100px !important;
    margin-bottom: 50px;
}
.card-body {
    background-color: #fafafa;
    padding: 1.25rem 1.25rem 0.5rem 1.25rem;
}
.card-body:hover {
    background-color: rgba(158, 158, 158, 0.1);
}
.card-body h3 {
    padding: 0px 10px 10px 15px;
    font-size: 18px;
    line-height: 22px;
}
.card-body h3 a{
    
    font-size: 18px;
    line-height: 22px;
    color: #222;
}
.card-body h3 a:hover {
    text-decoration: none;
}
.card-body .img-container img {
    width: 100%;
    height: 330px;
}
.card .card-line-number {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0 12px;
    background-color: #f5f5f5;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card .card-line-number > div {
    padding: 2.5px 0;
    opacity: 0.15;
}
.card .card-line-number-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0 5px;
    background-color: #222;
    font-size: 13px;
}
.card .card-line-number-modal > div {
    padding: 2.5px 0;
    opacity: 0.15;
}
.modal-header {
    border: none;
    /* height: 35px; */
    height: 50px;
    background-color: #222;
    display: flex;
    justify-content: center;
}
.modal-header .header-text {
    text-align: center;
    color: white;
    font-size: 22px;
}
.close-btn{
    color: #ddd;
    float: right;
    font-size: 12px;
    font-weight: 300;
    margin-right: 10px;
    margin-top: 5px;
}
.modal-dialog{
    width: 33%;
    margin-top: 120px;
}
.modal-content input {
    border: 1px solid #222;
    width: 90%;
    background-color: white;
    color: #222;
    height: 35px;
    border-radius: 3px;
    display: inline-block;
}
.modal-content .url-submit {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
}
.modal-content .url-submit:hover {
    background-color: #222;
    color: white;
}
.modal-content p {
    margin-bottom: 5px;
    font-size: 17px;
}
.modal-footer {
    border: none;
    justify-content: left;
    margin-left: 10px;
    height: 60px;
}
.modal-content .modal-submit {
    padding: 05px 20px 5px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    border: 1px solid #222;
    font-size: 17px;
    height:36px;
    display: inline-block;
}
.modal-content .modal-submit:hover {
    background-color: #000;
    color: #fff;
    border: none !important;
}
.modal-body {
    padding: 0.6rem 1rem 0.8rem 1rem;
}
.close {
    font-size: 16px;
}
.close:focus {
    outline: none !important;
}
.tags-header {
    position: absolute;
    margin-top: 10px;
    margin-left: 0px;
    margin-left: -50px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tag-container {
    height:70px;
}
.tags-list {
    display: inline-block;
    float: left;
    padding-top: 5px;
    padding-right: 15px;
}
.mlg-5{
    margin-left: 4rem;
}

/* Custom Modal */


.modal-login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content-login {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 33%;
  }
  .modal-about {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content-about {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 43%;
  }
  
  /* The Close Button */
  .close {
    color: #ddd;
    float: right;
    font-size: 12px;
    font-weight: 300;
    margin-right: 10px;
    margin-top: 5px;
    overflow: scrollable;
  }
  
  .close:hover,
  .close:focus {
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
  }
  .close-tag {
      float: right !important;
      display: flex;
      justify-content: flex-end;

  }
  .modal-content-header {

  }
  .modal-content-header h4{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .modal-content-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5px;
  }
  
  .modal-content-body img {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
  }
  .modal-content-body p  {
    font-size: 16px;
    margin-bottom: 05px;
    color: black;

  }
  .modal-content-body input {
      background-color: #fff;
      border: 1px solid #222;
      border-radius: 3px;
      height: 38px;
      width: 92%;
      color: #222;
  }
  .modal-content-body input::placeholder{
      color:#666;
  }
  .modal-content-body .url-submit {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
  }
  .modal-content-body .url-submit:hover{
        background-color:#222;
        color: #fff;
  }

.dropdown-menu a {
    z-index: 33333333333333333;
}
.dropdown-menu {
    z-index: 9999999999999999999;
    margin-top:60px;
}
.dropdown-toggle::after {
    display: inline-block;
    /* margin-left: .255em; */
    margin-left: 15px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
     .navbar-expand-lg .navbar-nav .nav-link {
        color: #222;
        font-size: 17px;
        margin:0 0px 0 5px;
        letter-spacing:1.5px
      }
      .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #222;
      }
     .navbar-survival101 {
        background-color:#fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        height:50px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
      }
      /* .navbar-survival101 .navbar-brand {
        margin-right: 2.15rem;
        padding: 3px 0 0 0;
        line-height: 36px;
      } */
      
      .navbar-survival101 .navbar-brand img {
        vertical-align: baseline;
      }
      

      
      .active {
          color:#3f51b5 !important;
      }
      .about-container {
          padding: 10px 20px 10px 20px;
      }
      .about-container p {
          font-size: 17px;
          font-family: sans-serif;
          line-height: 25px;
          color: #222;
      }
      .article-container {
          margin-top: 180px;
      }
      .article-box{
        padding: 0;
        border: 1px solid #dfdfdf;
        width: 340px;
        background-color: #ffffff;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .box-shadow{
        background: url("../img/box-shadow.png") no-repeat;
        width: 312px;
        height: 24px;
        position: absolute;
    }
    .articles-img{
        overflow: hidden;
        width: 100%;
    }
    .article-box img{
        border-radius: 1px;
        width: 100%;
    }
    .article-box-content{
        padding: 20px 5px 10px 20px;
    }
    .article-box-content>a>h5{
        font-size: 18px;
        color: #151515;
        font-family: Josefin;
        /*font-family: Roboto;*/
        display: inline-block;
        line-height: 24px;
        font-weight: 600;
        height: 90px;
        letter-spacing: 1px;
    }
    .article-box-content>h6{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 400;
        color: #717171;
        font-style: italic;
        margin-top: 0;
        font-size: 13px;
    }
    .article-box-content>h6>a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 400;
        color: #717171;
        font-style: italic;
        margin-top: 0;
        font-size: 13px;
        font-weight: 500;
    }
    .article-box-content>h6>a {
        color: #717171;
    }
    .article-box-content>a>span{
        color: #1abc9c;
        font-family: "Lato";
        font-weight: 400;
        font-size: 12px;
        padding-right: 20px;
        display: inline-block;
    }
    .article-shadow{
        background: url("../img/article-box-shadow.png")no-repeat;
        height: 1px;
        margin: 20px 0 10px 0;
    }
    .article-like{
        display: inline-block;
        cursor: pointer;
    }
    .article-comment{
        display: inline-block;
        cursor: pointer;
    }
    .article-later{
        display: inline-block;
        cursor: pointer;
    }
    .like-icon{
        background: url("../img/like-black-new-1.png");
        width: 15px;
        height: 14px;
        display: inline-block;
        background-repeat: no-repeat;
    }
    .comment-icon{
        background: url("../img/comment-icon.png");
        width: 12px;
        height: 12px;
        display: inline-block;
        background-repeat: no-repeat;
    }
    .later-icon{
        background: url("../img/later-icon.png");
        height: 14px;
        width: 14px;
        display: inline-block;
        background-repeat: no-repeat;
    }
    .article-like h6, .article-comment h6{
        color: #2a332d;
        display: inline-block;
        padding-right: 15px;
        padding-left: 3px; 
        font-family: "Lato";
        font-weight: 400;
    }
    .article-later h6{
        color: #2a332d;
        display: inline-block;
        padding-right: 0;
        padding-left: 3px; 	
        font-family: "Lato";
        font-weight: 400;
    }
    .article-section-footer {
        padding: 5px 0px 5px 10px;
    }
    .article-footer-icon-container-like{
        display: inline-block;
        width: 55px;
        cursor: pointer;
    }
    
    .article-footer-icon-container-like img {
        width: 30px;
    }
    .article-footer-icon-container-comment{
        display: inline-block;
        width: 45px;
        cursor: pointer;
    }
    
    .article-footer-icon-container-comment img {
        width: 30px;
    }
.article-footer-icon-container-delete{
    display: inline-block;
    width: 45px;
    cursor: pointer;
}

.article-footer-icon-container-delete img {
    width: 30px;
}
    .article-footer-icon-container-email{
        display: inline-block;
        width: 45px;
        cursor: pointer;
    }
    
    .article-footer-icon-container-email img {
        width: 30px;
    }
    .article-footer-icon-container-tag{
        display: inline-block;
        width: 45px;
        cursor: pointer;
    }
    
    .article-footer-icon-container-tag img {
        width: 30px;
    }
    .article-footer-icon-container-url{
        display: inline-block;
        width: 45px;
        cursor: pointer;
    }
    
    .article-footer-icon-container-url img {
        width: 30px;
    }

    .navbar-toggler-icon{
        background-color: transparent !important;
    }
    .navbar-toggler-icon1{
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        background-color: black;
    }
    @media(max-width: 400px){
        .article-container{
            margin-left: 0px !important;
        }
        .form-inline{
            margin-top: 70px !important;
        }
        .nav-mob {
            background-color: white !important;
            width: 100% !important;
        }
        .modal-content-about{
            width: 90% !important;
        }
        .modal-content-login{
            width: 90% !important;
        }
    }
    @media(min-width: 550px) and (max-width: 650px){
        .article-container{
            margin-left: 50px !important;
        }
        .form-inline{
            margin-top: 70px !important;
        }
        .nav-mob {
            background-color: white !important;
            width: 100% !important;
        }
        .modal-content-about{
            width: 90% !important;
        }
        .modal-content-login{
            width: 90% !important;
        }
    }
    @media(min-width: 650px) and (max-width: 770px){
        .article-container{
            margin-left: 100px !important;
        }
        .form-inline{
            margin-top: 70px !important;
        }
        .nav-mob {
            background-color: white !important;
            width: 100% !important;
        }
        .modal-content-about{
            width: 80% !important;
        }
        .modal-content-login{
            width: 80% !important;
        }
        .dropdown-menu{
            margin-top: 0px !important;
        }
    }
    @media(min-width: 770px) and (max-width: 850px){
        .article-container{
            margin-left: 250px !important;
        }
        .form-inline{
            margin-top: 70px !important;
        }
        .nav-mob {
            background-color: white !important;
            width: 100% !important;
        }
        .modal-content-about{
            width: 75% !important;
        }
        .modal-content-login{
            width: 75% !important;
        }
        .dropdown-menu{
            margin-top: 0px !important;
        }
    }
    @media(min-width: 850px) and (max-width: 900px){
        .form-inline{
            margin-top: 70px !important;
        }
        .nav-mob {
            background-color: white !important;
            width: 100% !important;
        }
        .modal-content-about{
            width: 75% !important;
        }
        .modal-content-login{
            width: 75% !important;
        }
        .dropdown-menu{
            margin-top: 0px !important;
        }
    }