*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
}
p{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&family=Merriweather&family=Montserrat+Subrayada&family=Noto+Sans+JP&family=Open+Sans:wght@300&family=Oswald&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
    font-family: acherus;
    src: url('../fonts/acherus-lite.ttf');
}
@font-face {
    font-family: Josefin;
    src: url('../fonts/JosefinSans-SemiBold.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Bold.ttf');
}
html
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #444;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #f9f9ff;
}
nav {
    position: fixed !important;
    width: 100%;

}
.navbar-primary {

}
.navbar-secondary {
    position: fixed !important;
    width: 100%;
}
.nav-custom {
}
.navbar {
    z-index: 80;
    padding: .2rem 2rem;
}
.btn-outline-login {
    border: 1px solid #222;
    color: #222;
    padding: 05px 35px 05px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-outline-login:hover {
    opacity: 0.7;
    border: 1px solid #222;
    color: #222;
    background-color: transparent;
}
.btn-outline-login:focus {
    opacity: 0.7;
    border: 1px solid #222 !important;
    color: #222 !important;
    background-color: white !important;
    outline: 1px solid #222 !important;
    border-radius: 3px;
}
.btn-outline-loginusr {
    border: 1px solid #222;
    color: #222;
    padding: 05px 15px 05px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-outline-loginusr:hover {
    opacity: 0.7;
    border: 1px solid #222;
    color: #222;
    background-color: transparent;
}
.btn-outline-loginusr:focus {
    opacity: 0.7;
    border: 1px solid #222 !important;
    color: #222 !important;
    background-color: white !important;
    outline: 1px solid #222 !important;
    border-radius: 3px;
}
.btn-outline-ext {
    border: 1px solid #222;
    color: #222;
    padding: 05px 15px 05px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-outline-ext a{
    color: #222;
}
.btn-outline-ext:hover {
    border: 1px solid #222;
    color: #222;
    background-color: transparent;
}
.btn-outline-ext:focus {
    opacity: 0.7;
    border: 1px solid #222 !important;
    color: #222 !important;
    background-color: white !important;
    outline: 1px solid #222 !important;
    border-radius: 3px;
}
.btn:focus {
    background-color:#000 !important;
    color: white;
}
.container{
    width: 65%;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
}
.container-1 {
    width: 65%;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
}
.card {
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 150px;
}
.card:hover {
    border: 1px solid #777;
    border-radius: 3px;
    transition: ease-in;
    cursor: pointer;

}
.card-header {
    background-color: #fff;
    border: none;
    padding: 07px 10px 05px 40px;
    display: inline-block;
    border-radius: 4px;
}
.card-header img {
    width: 35px;
    height: 35px;
    display: inline-block;
}
.card-header h6
{   width: 150px;
    display: inline-block;
    position: absolute;
    font-size: 17px;
}
.card-header p {
    font-size: 13px;
    padding-left: 160px;
     position: absolute;
    color: darkgrey;
    font-weight: 300;
    display: inline-block;
}
.card-footer {
    background-color: #fff;
    border: none;
    padding: 0px 10px 0px 30px;
    border-radius: 4px;
}
.footer-icon{
    padding: 5px 10px 5px 20px;
}
.footer-icon1 {
    width: 50px;
    display: inline-block;
    cursor: pointer
}
.footer-icon1:hover {
    background-color: transparent;
}
.footer-icon1 img:hover {

}
.like-count{
    display: inline-block;
    padding-bottom: -20px;
    position: absolute;
    padding-left: 5px;
    padding-top: 3px;
}

.footer-icon1 img {
    padding-top: 02px;
}
.card-container {
    margin-top: 100px !important;
    margin-bottom: 50px;
}
.card-body {
    background-color: #fafafa;
    padding: 1.25rem 1.25rem 0.5rem 1.25rem;
}
.card-body:hover {
    background-color: rgba(158, 158, 158, 0.1);
}
.card-body h3 {
    padding: 0px 10px 10px 15px;
    font-size: 18px;
    line-height: 22px;
}
.card-body h3 a{

    font-size: 18px;
    line-height: 22px;
    color: #222;
}
.card-body h3 a:hover {
    text-decoration: none;
}
.card-body .img-container img {
    width: 100%;
    height: 330px;
}
.card .card-line-number {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0 12px;
    background-color: #f5f5f5;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card .card-line-number > div {
    padding: 2.5px 0;
    opacity: 0.15;
}
.card .card-line-number-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0 5px;
    background-color: #222;
    font-size: 13px;
}
.card .card-line-number-modal > div {
    padding: 2.5px 0;
    opacity: 0.15;
}
.modal-header {
    border: none;
    /* height: 35px; */
    height: 50px;
    background-color: #222;
    display: flex;
    justify-content: center;
}
.modal-header .header-text {
    text-align: center;
    color: white;
    font-size: 22px;
}
.close-btn{
    color: #ddd;
    float: right;
    font-size: 12px;
    font-weight: 300;
    margin-right: 10px;
    margin-top: 5px;
}
.modal-dialog{
    width: 33%;
    margin-top: 120px;
}
.modal-content input {
    border: 1px solid #222;
    width: 90%;
    background-color: white;
    color: #222;
    height: 35px;
    border-radius: 3px;
    display: inline-block;
}
.modal-content .url-submit {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
}
.modal-content .url-submit:hover {
    background-color: #222;
    color: white;
}
.modal-content p {
    margin-bottom: 5px;
    font-size: 17px;
}
.modal-footer {
    border: none;
    justify-content: left;
    margin-left: 10px;
    height: 60px;
}
.modal-content .modal-submit {
    padding: 05px 20px 5px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    border: 1px solid #222;
    font-size: 17px;
    height:36px;
    display: inline-block;
}
.modal-content .modal-submit:hover {
    background-color: #000;
    color: #ffff;
    border: none !important;
}
.modal-body {
    padding: 0.6rem 1rem 0.8rem 1rem;
}
.close {
    font-size: 16px;
}
.close:focus {
    outline: none !important;
}
.tags-header {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mlg-5{
    margin-left: 4rem;
}

/* Custom Modal */


.modal-login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content-login {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 33%;
  }
  .modal-about {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content-about {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 43%;
  }

  /* The Close Button */
  .close {
    color: #ddd;
    float: right;
    font-size: 12px;
    font-weight: 300;
    margin-right: 10px;
    margin-top: 5px;
    overflow: scrollable;
  }

  .close:hover,
  .close:focus {
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
  }
  .close-tag {
      float: right !important;
      display: flex;
      justify-content: flex-end;

  }
  .modal-content-header {

  }
  .modal-content-header h4{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .modal-content-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5px;
  }

  .modal-content-body img {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
  }
  .modal-content-body p  {
    font-size: 16px;
    margin-bottom: 05px;
    color: black;

  }
  .modal-content-body input {
      background-color: #fff;
      border: 1px solid #222;
      border-radius: 3px;
      height: 38px;
      width: 92%;
      color: #222;
  }
  .modal-content-body input::placeholder{
      color:#666;
  }
  .modal-content-body .url-submit {
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
  }
  .modal-content-body .url-submit:hover{
        background-color:#222;
        color: #fff;
  }

.dropdown-menu a {
    z-index: 33333333333333333;
}
.dropdown-menu {
    z-index: 9999999999999999999;
    margin-top:60px;
}
.dropdown-toggle::after {
    display: inline-block;
    /* margin-left: .255em; */
    margin-left: 15px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .container {
        width: 90% !important;
        margin-right: 25px !important;
    }
 }

 /*Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) and (max-width: 767.98px) {
     .container {
         width: 100%;
         margin-right: 45px !important;
     }
  }

  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
        .container {
            width: 100%;
            margin-right: 45px !important;
        }
   }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .container {
            width: 100%;
        }
     }

     /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {

     }
     .navbar-expand-lg .navbar-nav .nav-link {
        color: #222;
        font-size: 17px;
        margin:0 0px 0 5px;
        letter-spacing:1.5px
      }
      .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #222;
      }
     .navbar-survival101 {
        background-color:#fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        height:50px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
      }
      /* .navbar-survival101 .navbar-brand {
        margin-right: 2.15rem;
        padding: 3px 0 0 0;
        line-height: 36px;
      } */

      .navbar-survival101 .navbar-brand img {
        vertical-align: baseline;
      }





      @media (min-width: 992px) {
        .navbar-expand-lg .navbar-nav .nav-link {
          padding-right: .7rem;
          padding-left: .7rem;
        }

        .search-box {
          width: 300px !important;
        }
      }

      .active {
          color:#3f51b5 !important;
      }
      .about-container {
          padding: 10px 20px 10px 20px;
      }
      .about-container p {
          font-size: 17px;
          font-family: sans-serif;
          line-height: 25px;
          color: #222;
      }
      .article-container {
          margin-top: 200px;
      }
      .article-box{
        padding: 0;
        border: 1px solid #dfdfdf;
        width: 312px;
        background-color: #ffffff;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .box-shadow{
        background: url("../img/box-shadow.v2.png") no-repeat;
        width: 800px;
        height: 10px;
        position: absolute;
    }
    .articles-img{
        height: 136px;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    .article-box img{
        border-radius: 1px;
        width: 100%;
    }
    .article-box-content{
        padding: 20px 20px 10px 20px;
    }
    .article-box-content>a>h5{
        font-size: 14px;
        color: #151515;
        font-family: "Lato";
        display: inline-block;
        height: 30px;
        font-weight: bold;
    }
    .article-box-content>h6{
        font-family: "Lato";
        font-weight: 400;
        color: #717171;
        font-style: italic;
        margin-top: 0;
    }
    .article-box-content>a>span{
        color: #1abc9c;
        font-family: "Lato";
        font-weight: 400;
        font-size: 12px;
        padding-right: 20px;
        display: inline-block;
    }
    .article-shadow{
        background: url("../img/article-box-shadow.png")no-repeat;
        height: 1px;
        margin: 20px 0 10px 0;
    }
    .article-like{
        display: inline-block;
        cursor: pointer;
    }
    .article-comment{
        display: inline-block;
        cursor: pointer;
    }
    .article-later{
        display: inline-block;
        cursor: pointer;
    }
    .like-icon{
        background: url("../images/like-icon.png");
        width: 15px;
        height: 14px;
        display: inline-block;
        background-repeat: no-repeat;
    }
    .comment-icon{
        background: url("../img/comment-icon.png");
        width: 12px;
        height: 12px;
        display: inline-block;
        background-repeat: no-repeat;
    }
    .later-icon{
        background: url("../img/later-icon.png");
        height: 14px;
        width: 14px;
        display: inline-block;
        background-repeat: no-repeat;
    }
    .article-like h6, .article-comment h6{
        color: #2a332d;
        display: inline-block;
        padding-right: 15px;
        padding-left: 3px;
        font-family: "Lato";
        font-weight: 400;
    }
    .article-later h6{
        color: #2a332d;
        display: inline-block;
        padding-right: 0;
        padding-left: 3px;
        font-family: "Lato";
        font-weight: 400;
    }
    .card-comment {
        width: 100%;
        /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;*/
        border-radius: 5px;
        /*border: 1px solid rgba(0, 0, 0, 0.3);*/
        background-color: #fff;
        margin-bottom: 30px;

    }
    .box-shadow1{
        -webkit-box-shadow: -2px 9px 6px -1px rgba(102,102,102,0.61);
        -moz-box-shadow: -2px 9px 6px -1px rgba(102,102,102,0.61);
        box-shadow: -2px 9px 6px -1px rgba(102,102,102,0.61);

    }
    .card-header-img img{
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 400px;
    }
    .posted-by{
        padding: 15px 15px 10px 25px;
        border-bottom: 1px solid #ddd;
    }
    .post-by {
        font-family: 'Lato', sans-serif !important;
        color: #666;
        font-size: 15px;
    }
    .post-usr {
        font-family: 'Lato', sans-serif !important;
        color: #666;
        font-size: 15px;
        padding-left: 8px;
        padding-right: 30px;
    }
    .time {
        font-family: 'Lato', sans-serif;
        color: #666;
        font-size: 15px;
        padding-left: 8px;
        padding-right: 10px;
    }
    .post-by-n {
        font-family: 'Lato', sans-serif !important;
        color: #999;
        font-size: 13px;
        padding-right: 10px;
    }
    .post-usr-n {
        font-family: 'Lato', sans-serif !important;
        color: #999;
        font-size: 13px;
        padding-left: 8px;
        padding-right: 30px;
    }
    .time-n {
        font-family: 'Lato', sans-serif;
        color: #999;
        font-size: 13px;
        padding-left: 8px;
        padding-right: 10px;
    }
    .posted-article {
        padding: 15px 15px 15px 25px;
    }
    .posted-article h3{
        color: black;
        font-family: 'Rubik', sans-serif;
        line-height: 32px;
        font-size: 28px;
        margin-bottom: 30px;
    }
    .posted-article a:hover {
        color: black;
    }
    .tags-list {
        padding: 15px 15px 40px 25px;
    }
    .tags-listed  {
        font-size: 20px;
        color: black;
        text-decoration: none !important;
        font-family: sans-serif;
    }
    .tags-listed:hover{
        text-decoration: none !important;
        color: black;
    }
    .tags {
        background-color: #666;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        padding: 4px 10px 4px 10px;
        color: #ddd;
        font-style: normal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    .tags-outline {
        text-transform: uppercase;
        border: 1px solid #222;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 11px;
        padding: 5px 10px 5px 10px;
        color: #222;
        font-style: normal;
        /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 2px;
    }
    .tags-outline:hover {
        background-color: #222;
        color: white;
    }
    .tags-outline-new {
        text-transform: uppercase;
        border: 1px solid #ddd;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 15px;
        font-size: 11px;
        padding: 8px 10px 8px 10px;
        color: #888;
        font-style: normal;
        /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 2px;
    }
    .tags-outline-new:hover {
        border: 1px solid #666;
        color: #444;
        background-color: #f7f7ff;
    }
    .card-footer {
        border-top: 1px solid #ddd;
        padding: 15px 15px 10px 25px;
    }
    .mg-top{
        margin-top: 150px;
    }
    .card-header-img-cnt{
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 350px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
    }
    .card-header-img-cnt1{
        width: 100%;
        height: 450px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
    }
    .tags-cnt-rounded {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        display: inline-block;
    }
    .tags-cnt-user {
        width: 150px;
        height: 12px;
        border-radius: 5px;
        display: inline-block;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
    }
    .tags-cnt-date {
        width: 100px;
        height: 12px;
        border-radius: 5px;
        display: inline-block;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        position: absolute;
        margin-top: 30px;
        margin-left: 10px;
    }
    .art-header-cnt{
        width: 95%;
        border-radius: 5px;
        height: 15px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        margin-bottom: 10px;
    }
    .tags-cnt-header {
        width: 90px;
        border-radius: 5px;
        height: 20px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        display: inline-block;
    }
    .tags-cnt {
        width: 60px;
        border-radius: 5px;
        height: 20px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        display: inline-block;
    }
    .round-cnt {
        width: 34px;
        border-radius: 50%;
        height: 34px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        display: inline-block;
    }
    .usr-cnt {
        width: 140px;
        border-radius: 5px;
        height: 14px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        display: inline-block;
        margin-top: 12px;
        position: absolute;
    }
    .round1-cnt {
        width: 34px;
        border-radius: 50%;
        height: 34px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        display: inline-block;
        margin-left: 180px;
    }
    .usr1-cnt {
        width: 140px;
        border-radius: 5px;
        height: 14px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        display: inline-block;
        margin-top: 12px;
        position: absolute;
    }
    .card-footer-rounded-cnt {
        width: 40px;
        border-radius: 50%;
        height: 40px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        display: inline-block;
    }
    .card-footer-content-cnt {
        width: 150px;
        border-radius: 5px;
        height: 15px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        display: inline-block;
        margin-top:14px;
        position: absolute;
    }
    .card-footer-cmt-cnt{
        width: 70%;
        border-radius: 5px;
        height: 80px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .card-footer-submit-cnt {
        width: 100px;
        border-radius: 5px;
        height: 40px;
        margin-right: 10px;
        animation: pulse 1.1s infinite ease-in-out;
        -webkit-animation: pulse 1.5s infinite ease-in-out;
        -moz-animation: pulse 1.2s infinite ease-in-out;
        margin-left: 50px;
    }
    @keyframes pulse {
        0%{
            background-color: rgba(165,165,165,.1);
        }
        50%{
            background-color: rgba(165,165,165,.4);
        }
        100%{
            background-color: rgba(165,165,165,.1);
        }
    }
    @-webkit-keyframes pulse {
        0%{
            background-color: rgba(165,165,165,.1);
        }
        50%{
            background-color: rgba(165,165,165,.3);
        }
        100%{
            background-color: rgba(165,165,165,.1);
        }
    }
    @-moz-keyframes pulse {
        0%{
            background-color: rgba(165,165,165,.1);
        }
        50%{
            background-color: rgba(165,165,165,.5);
        }
        100%{
            background-color: rgba(165,165,165,.1);
        }
    }
    .comment-area {
        padding: 0;
        margin: 0;
    }
    .comment-container {
        width: 100%;
        /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;*/
        /*border: 1px solid rgba(0, 0, 0, 0.3);*/
        background-color: transparent;
        margin-bottom: 30px;
        background-color: #f7f7ff;
    }
    .comment-img img {
        width: 100%;
        height: 450px;
    }
    .comment-img-1 img {
        width: 100%;
        height: 450px;
        padding:15px 25px 15px 25px;
    }
    .publisher-img {
        display: inline-block;
        padding: 20px 10px 20px 20px;
    }
    .post-time {
        padding-left: 1rem;
    }
    .border-r{
        border-left: 1px solid #666;
    }
    .comment-title {
        padding: 15px 15px 15px 25px;
    }
    .comment-title h3{
        color: black;
        font-family: Josefin;
        line-height: 40px;
        font-size: 2.2rem;
        margin-bottom: 30px;
        width: 95%;
        letter-spacing: 0.1rem;
    }
    .comment-title a:hover {
        color: black !important;
    }
    .comment-header {
        padding: 15px 15px 0px 25px;
    }
    .comment-header h2 {
        color: black;
        font-family: Roboto;
        line-height: 42px;
        font-size: 2.3rem;
        margin-bottom: 30px;
        width: 95%;
        letter-spacing: 0.1rem;
    }
    .comment-header a:hover {
        color: #222;
    }
    .publisher-info {
        padding: 0px 10px 10px 25px;
    }
    .publisher-name {
        font-family: 'Lato', sans-serif !important;
        color: #222;
        font-size: 14px;
        padding-left: 18px;
        padding-right: 30px;
        margin-top: 0px;
        position: absolute;
    }
    .published-date {
        font-family: 'Lato', sans-serif !important;
        color: #999;
        font-size: 14px;
        margin-left: 55px;
        margin-top: -19px;
    }
    .comment-box {
        width: 100%;
        /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;*/
        /*border: 1px solid rgba(0, 0, 0, 0.3);*/
        background-color: transparent;
        margin-bottom: 30px;
        background-color: #f7f7ff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .comment-box-header {
        height: 95px;
        padding: 15px 15px 0px 25px;
        background-color: #f5f5ff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid #ddd;
    }
    .comment-box-header-cnt {
        height: 95px;
        padding: 15px 15px 0px 25px;
        background-color: #f7f7ff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid #ddd;
    }
    .comment-box-header h2 {
        color: #222;
        font-family: Josefin;
        line-height: 36px;
        font-size: 1.8rem;
        margin-bottom: 30px;
        width: 95%;
        letter-spacing: 0.1rem;

    }
    .comment-box-header a:hover {
        color: #f7f7ff;
    }
    .publish-header-img img {
        width: 100%;
        height: 450px;
        padding:15px 15px 15px 15px;
        border-radius: 5px;
    }
    .tag-outline-sharp {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: #eee;
        border-radius: 3px 0 0 3px;
        color: #222;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 25px;
        position: relative;
        margin: 0 10px 10px 0;
        text-decoration: none;
        -webkit-transition: color 0.2s;
        text-transform: uppercase;
        font-style: normal;
        font-size: 11px;
        margin-left: 05px;
        cursor: pointer;
        letter-spacing: 1px;
      }

      .tag-outline-sharp::before {
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
      }

      .tag-outline-sharp::after {
        background: #f7f7ff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #eee;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
      }
